body {
    background: #1985a1;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
}

h2,
h3,
p {
    margin: 0;
}

#hdr {
    min-height: 220px;
    padding-top: 3em;
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.neg {
    background: #1C90BF;
}

img {
    width: 100%;
}

.neg {
    width: 40%;
    display: inline-block;
}

.btn {
    text-decoration: none;
    background: #4c5c68;
    color: #dcdcdd;
    padding: 1em 2em;
    border: 1px solid #4c5c68;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    position: center;
}

.btn:hover {
    background: #4c5c68;
}

.hdr-bg {
    background: url('../img/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 260px;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    margin: 0;
}

h2,
h3 {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.contato {
    background: #4c5c68;
    min-width: 100px;
}

footer {
    min-height: 50px;
    background: #dcdcdd;
    color: #1985a1;
    line-height: 50px;
}

section {
    padding-bottom: 1.5em;
}